@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600');

body {
  background-image: url('../images/collegematchbg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
}
