@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600');

body {
  background-image: url('../images/collegematchbg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.home-root {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15.6% 20.8% 19.8% 43.8%;
  width: 100%;
  height: 100%;
  position: relative;
}

#home-nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: #486CB2;
  box-shadow: 0px 6px 6px rgba(0,0,0,.16);
}

#carousel-container {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  background-color: #000;
  opacity: 0.16;
}

#nav-logo {
  grid-column: 1;
  grid-row: 1;
  margin-left: 70.8px;
  justify-content: center;
  align-self: center;
  margin-bottom: 3%;
}

#home-current-tracks {
  font-family: 'Montserrat', sans-serif;
  font-size: 45px;
  font-weight: 200;
  grid-row: 2;
  color: #fff;
  align-self: flex-end;
  margin-left: 70.8px;
}

#home-option {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  justify-content: center;
  display: inline-block;
  margin-right: 37px;
  align-self: center;
}

#search-option {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  justify-content: center;
  display: inline-block;
  margin-right: 36px;
  align-self: center;
}

#logout-option {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  justify-content: center;
  margin-right: 55px;
  align-self: center;
}

#create-track-home {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 500;
  color: #fff;
  align-self: flex-end;
  display: inline-block;
}

#add-button {
  display: inline-block;
  align-self: flex-end;
}

#second-portion-home-left {
  display: flex;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#second-portion-home-right {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
