.survey-modal {
  background-color: #fff;
  width: 850px;
  height: 450px;
  border-radius: 35px;
  box-shadow: 6px 6px 12px rgba(0,0,0,.16);
}

.survey-modal-header {
  height: 19.9%;
  background-color: #486CB2;
  border-radius: 35px 35px 0px 0px;
}

.survey-modal-body {
  height: 80.1%;
  background-color: #fff;
  border-radius: 0px 0px 35px 35px;
}
