@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,400,500,500i,600i');

body {
  background-image: url('../images/collegematchbg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#root {
  display: grid;
  grid-template-columns: 10% 12% 12% auto;
  grid-template-rows: 37% 25% auto;
  width: 100%;
  height: 100%;
}

h1.welcome {
  font-family: 'Montserrat', sans-serif;
  font-size: 94px;
  font-weight: 100;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.3);
  grid-column: 4 / 5;
  grid-row: 1;
  align-self: center;
  margin-left: 10%;
  display: inline-block;
}

h1.welcome:hover {
  cursor: default;
}

p.collegematch-intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: 100;
  font-style: italic;
  grid-column: 4 / 5 ;
  grid-row: 2;
  align-self: left;
  margin-left: 10%;
  margin-top: -7px;
  cursor: default;
  span.maters {
    font-weight: 500;
  }

}

a.welcome-button {
  display: grid;
  width: 478px;
  height: 96px;
  background-color: #486CB2;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: 500;
  border-radius: 17px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.16);
  justify-content: center;
  align-items: center;
  grid-column: 4 / 5;
  grid-row: 3;
  align-self: left;
  margin-top: -50px;
  margin-left: calc(100px + 10%);
  text-decoration: none;
}

a.welcome-button:hover {
  background-color: darken(#486CB2, 5%);
}

#logo {
  grid-column: 4/5;
  grid-row: 1;
  display: inline-block;
  margin-left: 64%;
  margin-top: 4.5%;
}


