@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,400,500,500i,600i');

body {
  background-image: url('../images/collegematchbg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#root {
  display: grid;
  grid-template-columns: 10% 12% 12% auto;
  grid-template-rows: 37% 25% auto;
  width: 100%;
  height: 100%;
}

h1.welcome {
  font-family: 'Montserrat', sans-serif;
  font-size: 94px;
  font-weight: 100;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.3);
  grid-column: 4 / 5;
  grid-row: 1;
  align-self: center;
  margin-left: 10%;
  margin-top: 20%;
  display: inline-block;

}

h1.welcome:hover {
  cursor: default;
}

p.collegematch-intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: 100;
  font-style: italic;
  grid-column: 4 / 5 ;
  grid-row: 2;
  align-self: left;
  margin-left: 10%;
  margin-top: calc(-7px + 3.5%);
  cursor: default;
  span.maters {
    font-weight: 500;
  }
}

a.welcome-button {
  display: grid;
  width: 478px;
  height: 96px;
  background-color: #486CB2;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: 500;
  border-radius: 17px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.16);
  justify-content: center;
  align-items: center;
  grid-column: 4 / 5;
  grid-row: 3;
  align-self: left;
  margin-top: calc(-50px + 1%);
  margin-left: calc(100px + 10%);
  text-decoration: none;
}

a.welcome-button:hover {
  background-color: darken(#486CB2, 5%);
}

#logo {
  grid-column: 4/5;
  grid-row: 1;
  display: inline-block;
  margin-left: 64%;
  margin-top: calc(4.5% + 7%);
  z-index: -1;
}

//*************CARDS SECTION******************

.card {
  width: calc(178px - 10%);
  height: calc(247px - 10%);
  border-radius: 21px;
}

#card-1 {
  grid-column: 1 / 2;
  grid-row: 1;
  align-self: flex-end;
  margin-left: calc(20px + 40px);
}

#card-2 {
  grid-column: 2 / 3;
  grid-row: 1;
  align-self: flex-end;
  margin-left: calc(30px + 40px);
  background-image: url('../images/cmcardfront.svg');
  background-repeat: no-repeat;
  background-size: 100%
}

#card-3 {
  grid-column: 3 / 4;
  grid-row: 1;
  align-self: flex-end;
  margin-left: 40px;
}

#card-4 {
  grid-column: 1 / 2;
  grid-row: 2;
  align-self: flex-start;
  margin-left: calc(20px + 40px);
}

#card-5 {
  grid-column: 2 / 3;
  grid-row: 2;
  margin-left: calc(30px + 40px);
  background-image: url('../images/cmcardfront.svg');
  background-repeat: no-repeat;
  background-size: 100%
}

#card-6 {
  grid-column: 3 / 4;
  grid-row: 2;
  margin-left: 40px;
}

#card-7 {
  grid-column: 1 / 2;
  grid-row: 3;
  margin-left: calc(20px + 40px);
  background-image: url('../images/cmcardfront.svg');
  background-repeat: no-repeat;
  background-size: 100%
}

#card-8 {
  grid-column: 2 / 3;
  grid-row: 3;
  margin-left: calc(30px + 40px);
  background-image: url('../images/cmcardfront.svg');
  background-repeat: no-repeat;
  background-size: 100%
}

#card-9 {
  grid-column: 3 / 4;
  grid-row: 3;
  margin-left: 40px;
  background-image: url('../images/cmcardfront.svg');
  background-repeat: no-repeat;
  background-size: 100%
}

.flip-card1, .flip-card3, .flip-card4, .flip-card6 {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card1-inner, .flip-card3-inner, .flip-card4-inner, .flip-card6-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.flip-card1-front, .flip-card1-back, .flip-card3-front, .flip-card4-front, .flip-card6-front, .flip-card3-back, .flip-card4-back, .flip-card6-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 21px;
}

.flip-card1-back {
  transform: rotateY(180deg);
  margin-left: -9px;
}

.flip-card3-back, .flip-card4-back, .flip-card6-back {
  transform: rotateY(180deg);
  margin-left: -8px;
}

.card-image {
  width: 100%;
  height: 100%;
}





